*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* HEADER */
.alc{
    font-size: 0.75rem;
    color:blue;
    padding: .5rem;
    margin: .5rem;
}
i span{
    color: red;
    font-weight: bolder;
    font-size: 1rem;
}
a.contacto{
    font-size: .75rem;
    color: blue;
    padding: .4rem;
    margin: 1rem;
    text-decoration: none;
}
/* SECCION NAV */
@media only screen and (max-width:768px){
.navegador{
    position: fixed;
}
}
.navRow{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/200/561/non_2x/christmas-background-of-bokeh-lights-and-stars-vector.jpg);
    box-sizing: border-box;
}
@media only screen and (min-width:768px){
    .navRow{
        /* -----------LA IDEA ES PONERLE ALTURA AL DIV PARA RESALTAR EL LOGO--------------------------------------------------------- */
    }
}
.columnas{
    margin-bottom: 1rem;
}
.logo{
    height: 200px;
    border-radius: 50%;
}
.lupa{
    padding: 1rem;
    margin: 1rem;
}
.form-control{
    height: 40px !important;
    display: flex;
    align-items: center;
}
/* --------------------------------- */
section{
    background-color: #fcbfc9;
    background-attachment: fixed;
    margin-top: 12rem;
}
@media only screen and (min-width:768px){
    section{
        margin-top: 3rem;
    }
}
/* ---LOS ROWS DEL SECTION---*/
.marRow{
    max-width: 100%; 
}
/* ---EL CUERPO DE LA TARJETA DONDE SE ENCUNTA LA INFORMCION DEL PRODUCTO--- */
.cuerpo{
    height: 12rem;
}
@media only screen and (max-width:768px){
    .cuerpo{
        height: 12rem;
    }
}


/* DIV TARJETAS */
.contTarj{
    box-shadow: rgb(250, 201, 111) 5px 2px 5px 0;
    margin: 2rem;
    border: orange 0.05px solid;
}
.contTarj img{
    
}
.contTarj hr{
    width: 98%;
    color: rgb(240, 146, 4);
    height: 3px !important;
    box-shadow: orange 50px 2px 5px 0;
}
.descripcion{
    width: 96%;
    margin: .5rem auto .5rem auto;
    height: 4rem;
}
.cuerpo span{
    height: 3rem;
    font-size: 2rem;
    display: block;
    width: 98%;
    margin: .5rem auto .5rem auto;
    font-weight: 1000;
}
.cuerpo a{
     text-decoration: none;
     color: black;
}
/* BOTONES DE COMPRA Y VISTA */
.botones{
    margin: 0.5rem auto 0.5rem auto;   
}
.comprar{
    background-color: rgb(240, 211, 82);
    border-radius: 5px;
    height: 2rem ;
    width: 75%;
    font-weight: bolder;
    
    
}
.ver{
    background-color: rgb(240, 211, 82);
    border-radius: 5px;
    height: 2rem ;
    width: 75%;
    font-weight: bolder;
    
}



/* --NAVEGADOR LATERAL------------- */

.lista{
    overflow: hidden;
}
.lista h2{
    text-align: right;
    height: 2.5rem;
    margin: 1rem;
}
.lista li{
    text-align: right;
    width: 60%;
    margin-left: 30%;
}
/* -MOSTRAR MAS RESULTADOS */
.resultados{
        
    background-color: #fcbfc9;
}
/* ----FOOTER----------- */
footer h6{
    height: 2rem;
    text-align: center;
    background-color: #fcbfc9;
}