*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* HEADER */
.alc{
    font-size: 0.75rem;
    color:blue;
    padding: .5rem;
    margin: .5rem;
}
i span{
    color: red;
    font-weight: bolder;
    font-size: 1rem;
}
a.contacto{
    font-size: .75rem;
    color: blue;
    padding: .4rem;
    margin: 1rem;
    text-decoration: none;
}
/* CARRITO */
.carrito{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient( #f8dfe3,  white);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    
}
.carrito a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: .3s;
}

.carrito .cerrar-btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.btn-producto{
    position: relative;
    top: 65%;
    left: 60%;
    border-radius: 10%;
    background-color: black;
    width: auto;
    height: auto;
}
.btn-producto a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 5px 5px white;
    font-size: 1.2rem;
}
.imagen-carrito-preview{
    display: inline;
    border-radius: 50%;
}

#total-de-la-compra{
    padding: .5rem;
    margin-top: 3rem;
    font-weight: bold;
}
#total-de-la-compra h3{
    overflow: hidden;
}

#total-de-la-compra h3{
    overflow: hidden;
}

/* SECCION NAV */
@media only screen and (max-width:768px){
.navegador{
    position: fixed;
}
}
.navRow{
    background-image: linear-gradient( #f8dfe3,  white);
    
    box-sizing: border-box;
}
@media only screen and (min-width:768px){
    
        /* -----------LA IDEA ES PONERLE ALTURA AL DIV PARA RESALTAR EL LOGO--------------------------------------------------------- */
    }

.columnas{
    margin-bottom: 1rem;
}
.logo{
    height: 200px;
    border-radius: 50%;
}
.lupa{
    padding: 0.5rem;
    margin: 0.5rem;
}
.form-control{
    height: 40px !important;
    display: flex;
    align-items: center;
}
/* --------------------------------- */
section{
    background-image: linear-gradient( #f8dfe3,  white);
    background-attachment: fixed;
    margin-top: 12rem;
}
@media only screen and (min-width:768px){
    section{
        margin-top: 3rem;
    }
}
/* TITULOS */
#h1-titulos{
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
    color: inherit;
    text-shadow: 1px 5px 1px #f8ced5  ;
}


/* ---LOS ROWS DEL SECTION---*/
.marRow{
    max-width: 100%; 
    margin-left: 0px 0px;
    margin-right: 0px 0px;
}
/* ---EL CUERPO DE LA TARJETA DONDE SE ENCUNTA LA INFORMCION DEL PRODUCTO--- */
.principal{
    padding: 0px 0px;
}
#producto{
    height: 15rem;
}
/* DIV TARJETAS */
.contTarj{
    box-shadow: #fcbfc9 ;
    border: white 0.05px solid;
    border-radius: 5%;
}
.contTarj img{
    border-radius: 50%;
    box-shadow: gray 1px 1px 5px 0px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.contTarj hr{
    width: 98%;
    color: black;
    height: 3px !important;
    box-shadow: gray;
}
.descripcion{
    width: 96%;
    margin: .5rem auto .5rem auto;
    height: 4rem;
    overflow: hidden;
}
#nombre-producto{
    overflow: hidden;
    text-shadow: 1px 5px 1px #f8ced5  ;
    font-size: 1rem;

}
#spam-precio{
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 1px 5px 1px #f8ced5  ;

}
.cuerpo a{
     text-decoration: none;
     color: black;
}
/* BOTONES DE COMPRA Y VISTA */
.botones{
    margin: 0.5rem auto 0.5rem auto;   
    display: flex;
    justify-content: center;
}
.comprar{
    background-color: white;
    border-radius: 5px;
    height: 2rem ;
    width: 8rem;
    font-weight: bolder;
    
}
.ver{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 2rem ;
    width: 8rem;
    font-weight: bolder;
}
/* SEPARA CONTENEDORES */
#separa-contenedores{
    box-shadow: 0 1px 5px 1px #e92c4b;
}



/* --NAVEGADOR LATERAL------------- */

.lista{
    overflow: hidden;
}
.lista h2{
    text-align: right;
    height: 2.5rem;
    margin: 1rem;
}
.lista li{
    text-align: right;
    width: 60%;
    margin-left: 30%;
}
/* -MOSTRAR MAS RESULTADOS */
.resultados{    
    background-image: linear-gradient( #fcbfc9,  white);
}
/* ----FOOTER----------- */
footer h6{
    height: 2rem;
    text-align: center;
    background-image: linear-gradient( #fcbfc9,  white);
}

/* ------------------------------------------------------------------------------------------- */
/* ---------------------------   SECCION INGRESAR   -------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */

#ingresar{
    background-image: linear-gradient( #fcbfc9,  white);
    padding-top: 5rem;    
}

.usuario-contraseña{
    height: 3rem;
    width: 20rem;
    margin: .1rem .5rem .5rem .5rem ;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 10px 5px 10px grey ;
}

.usuario-contraseña-btn{
    background-color: rgb(169, 169, 240);
}


/* ------------------------------------------------------------------------------------------- */
/* ---------------------------   SECCION NUEVO USUARIO   -------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */

