*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/* HEADER */
.alc{
    font-size: 0.75rem;
    color:blue;
    padding: .5rem;
    margin: .5rem;
}
i span{
    color: red;
    font-weight: bolder;
    font-size: 1rem;
}
a.contacto{
    font-size: .75rem;
    color: blue;
    padding: .4rem;
    margin: 1rem;
    text-decoration: none;
}
/* SECCION NAV */
@media only screen and (max-width:768px){
.navegador{
    position: fixed;
}
}
.navRow{
    background-image: linear-gradient( #fcbfc9,  white);
    box-sizing: border-box;
}
@media only screen and (min-width:768px){
    .navRow{
        /* -----------LA IDEA ES PONERLE ALTURA AL DIV PARA RESALTAR EL LOGO--------------------------------------------------------- */
    }
}
.columnas{
    margin-bottom: 1rem;
}
.logo{
    height: 200px;
    border-radius: 50%;
}
.lupa{
    padding: 1rem;
    margin: 1rem;
}
.form-control{
    height: 40px !important;
    display: flex;
    align-items: center;
}
/* --------------------------------- */
section{
    background-image: linear-gradient( #fcbfc9,  white);
    background-attachment: fixed;
    margin-top: 12rem;
}
@media only screen and (min-width:768px){
    section{
        margin-top: 3rem;
    }
}
/* ---LOS ROWS DEL SECTION---*/
.marRow{
    max-width: 100%; 
    margin-left: 0px 0px;
    margin-right: 0px 0px;
}
/* ---EL CUERPO DE LA TARJETA DONDE SE ENCUNTA LA INFORMCION DEL PRODUCTO--- */
.principal{
    padding: 0px 0px;
    overflow: hidden;
}
.cuerpo{
    height: 12rem;
}
/* DIV TARJETAS */
.contTarj{
    box-shadow: #fcbfc9 ;
    border: white 0.05px solid;
    border-radius: 5%;
}
.contTarj img{
    border-radius: 50%;
    box-shadow: gray 1px 1px 5px 0px;
    
}
.contTarj hr{
    width: 98%;
    color: black;
    height: 3px !important;
    box-shadow: gray;
}
.descripcion{
    width: 96%;
    margin: .5rem auto .5rem auto;
    height: 4rem;
}
.cuerpo span{
    height: 3rem;
    font-size: 2rem;
    display: block;
    width: 98%;
    margin: .5rem auto .5rem auto;
    font-weight: 1000;
}
.cuerpo a{
     text-decoration: none;
     color: black;
}
/* BOTONES DE COMPRA Y VISTA */
.botones{
    margin: 0.5rem auto 0.5rem auto;   
    display: flex;
    justify-content: center;
}
.comprar{
    background-color: white;
    border-radius: 5px;
    height: 2rem ;
    width: 8rem;
    font-weight: bolder;
}
.ver{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 2rem ;
    width: 4rem;
    font-weight: bolder;
}



/* --NAVEGADOR LATERAL------------- */

.lista{
    overflow: hidden;
}
.lista h2{
    text-align: right;
    height: 2.5rem;
    margin: 1rem;
}
.lista li{
    text-align: right;
    width: 60%;
    margin-left: 30%;
}
/* -MOSTRAR MAS RESULTADOS */
.resultados{    
    background-image: linear-gradient( #fcbfc9,  white);
}
/* ----FOOTER----------- */
footer h6{
    height: 2rem;
    text-align: center;
    background-image: linear-gradient( #fcbfc9,  white);
}